$primary = #2dbd9b

$logo-width = 3rem
$logo-height = 3rem
$logo-border-width = 2px
$logo-border-radius = 50%

$message-primary = #607689
$message-secondary = #fff
$message-border-radius = 50px

$grey = #bbb
