$primary = #2dbd9b

$logo-width = 3rem
$logo-height = 3rem
$logo-border-width = 2px
$logo-border-radius = 50%

$message-primary = $primary
$message-secondary = #E5E4E9
$message-border-radius = 50px

$grey = #bbb
